
body{
    font-family: 'Oswald', sans-serif;

}

p{
    font-family: sans-serif;
    color: rgb(113, 107, 107);
}

ul.nav.nav-pills.mb-2.mb-lg-0 {
     font-size: 18px;
     font-weight: 500;

      
 }

.container.pb-3 {
     border-bottom: 1px solid rgb(227, 220, 220);
 }

.menu-item ul li a{
     font-size: 19px;
     color: rgb(127, 124, 124);
     font-weight: 600;
 }

 .row{
    border: 1px solid rgb(212, 211, 211);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
 }